* {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none
  }

header {
    /*width: 100%;*/
    background-color: rgb(58, 57, 57);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 8px;
}

img {
    width: 30px;
}

.resaltar {
    cursor: pointer;
    transition: all ease-out 250ms;
}

.resaltar:hover {
    padding: 5px;
    border-bottom: 2px solid rgb(214, 183, 45);
}


